{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if user.is_authenticated %}
    <div id='create-post-view'>
        <div id='error-message'></div>
        <div class='new-post-container'>
            <h5>New Post</h5>
            <form class='new-post-form'>
                <textarea id='new-post-text'></textarea>
                <div>
                    <input type="submit" value="Post" class="btn btn-primary"/>
                </div>
                
            </form>

        </div>
    </div>


    <div id='all-posts-view'>
        
    </div>

    <div id='edit-post-view'>
        <div id='error-message'></div>
        <div class='edit-post-container'>
            <h5>Edit Post</h5>
            <form class='edit-post-form'>
                <textarea id='edit-post-text'></textarea>
                <div>
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
                
            </form>

        </div>
    </div>

    <div id='user-page-view'>
        <h5>Profile Page</h5>
        <div class="user-page-information-container">
            <div class="title"></div>
            <div class="followings-container">
                <div class='user-follows'></div>
                <div class="user-followers"></div>
            </div>
        </div>
        <div id='user-posts-container'></div>
        
    </div>


{% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}