#error-message {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 10px 15px 10px 15px;
}

.new-post-container, .edit-post-container, .post-container, .user-page-information-container {
    padding: 1rem;
    margin: 1rem 20%;
    border: 1px solid rgb(210, 211, 216);

}
.user-page-information-container {
    background-color: #f8f9fa;
    margin-bottom: 2rem;
}

#user-page-view > h5{
    margin: 1rem 20%;
}

.followings-container {
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
}

.user-follows, .user-followers {
    padding-right: 10px;
    margin-top: 1rem;
    font-weight: normal;
}

#new-post-text {
    width: 100%;
}

#edit-post-text {
    width: 100%;
}


.post-user {
    font-weight: bold;
    cursor: pointer;
}

.post-user:hover {
    color: rgb(47, 84, 204);
}

.post-text {
    font-size: 1.2rem;
    padding: 0.6rem 0 0.6rem 0;
}

.post-created {
    font-size: 0.8rem;
    color: rgb(133 135 136 / 70%);
    font-weight: 500;
}

.likes-container {
    display: flex;
    flex-direction: row;
}

.fa {
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
  }

  .fa-heart-o {
      margin-top: 5px;
      margin-right: 5px;
  }

  .fa-heart {
    margin-top: 5px;
    margin-right: 5px;
  }

  .paginator-container {
    display: flex;
    flex-direction: row;
    /* padding: 1rem; */
    margin: 1rem 20%;
  }

  .next-page, .previos-page {
    border: 1px solid rgb(210, 211, 216);
    padding: 5px 10px;
    margin-right: 1rem;
    cursor: pointer;

  }

  .next-page:hover {
    background-color: #f8f9fa;
  }

  .previos-page:hover {
    background-color: #f8f9fa;
  }
  